
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h3> CRUD de Demonstração </h3>
    <p> Esta é uma aplicação de exemplo para demonstrar um pouco dos meus conhecimentos. </p>
    <p> Trata-se de um cadastro de Pessoas e de Animais Domésticos, onde cada pessoa possui N animais e cada animal pertence a uma pessoa. </p>
    <p> Neste CRUD foi utilizado desenvolvimento em cadadas, C#, Asp.Net MVC, Entity Framework com Code First, Fluent Validation, Testes de Unidade e Bootstrap. </p>
    <p> Para testar a aplicação, favor configurar sua StringDeConexao nos arquivos de configuração (WebConfig, AppConfig) dos projetos
    MVC e TESTES.</p>
</div>

